<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1/EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
	{% block header %}
		<title>Agenda</title>
	{% endblock %}
</head>
<body>
	{% block body %}
		<!-- body -->
	{% endblock %}
</body>
</html>

