{% extends 'base.html' %}

{% block body %}

<a href="/add/">Add item</a>

<ul>
{% for item in lista_itens %}
	<li>
		<a href="/item/{{ item.id }}">{{ item.date|date:'d/m/Y' }} {{ item.title }}</a>
	</li>
{% empty %}
	<li>There is not items in the list</li>
{% endfor %}
</ul>

{% endblock %}

